
.banner{
	width: 100%;
	height: 450px;
	margin-top: 10px; 
    padding-bottom: 3px;
  }
h1,h3,h2{
	color:#ffffff;
	text-align: left;
	font-size: 20pt;
  }
  p{
  	text-align: center;
  }

 div> h6{
     padding: 5%;
    color: #051525;
  }
  #center_div{
    background-color: rgba(84, 86, 88, 0.377);
    box-shadow: 0 4px 8px 0 rgba(252, 251, 251, 0.836), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .total{
    color:#fcfcfd; 
    background-color: #051525;
    text-align: center;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(252, 251, 251, 0.836), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
#tagline{
	text-align: left;
	font-family: tahoma;
	padding-bottom: 9px;
       }
  form{
  	padding-left: 5px;
  }
.wrapper{
	width: 100%;
    height: 0 auto;
    color:#ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
     }  

     label{
         color: #051525;
     }   
     
#container_fluid{
	width:100%;
    height: 0 auto; 
    background-color: #051525;
    border-bottom: 10px solid #f8f9fa;
          }

          #container{
             background-image: url('/imgs/bg_images.jpg')
          }
 .title{
	 width:100%;
      height: 0 auto;
      }                        

                 
#pf{
  	text-align: center;
  	color: #ffffff;
  	padding-top: 5px;
  	font-family: tahoma;
     } 
#aaaa{
            
      list-style: none;
      font:bold 20px;
      padding: 4px;
      color: #ffffff;
      text-align: center;

        }
#tel  {
	text-align: center;
      }

      #btnConvert{
        text-align: center;
        margin-bottom: 30px;
        width: 100%;
        height: 10%;
        color: #15305b;
        border-bottom: 1px solid #0f88ff;
        border-radius: 15px;
        box-shadow: 0 4px 8px 0 rgba(252, 251, 251, 0.836), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }

.footer{
	 width:100%;
     height: 0 auto; 
     background-color: #051525;
     float:left;
     margin-top: 3px;
     border-top: 5px solid #0f88ff;
         }                  
